{% extends 'videos/base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="container">
        {% for video in videos %}
        <div class="card mb-3">
            <div class="card-body">
                <a href="{% url 'show_video' video.id %}"> 
                <video width="320" height="240" controls>
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                </video>
                </a>
                <h5 class="card-title mt-3">{{ video.title }}</h5>
                <p class="card-text"><small class="text-muted">
                   {{ video.created_on|timesince }} ago
                </small></p>
                <p class="card-text">{{ video.description }}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                        {% if request.user in video.likes.all %}
                        {{ video.total_likes }} -Likes <a href="{% url 'like_video' video.id %}" class="btn btn-outline-warning btn-sm">Unlike</a> 
                        {% else %}
                        {{ video.total_likes }} - Likes <a href="{% url 'like_video' video.id %}" class="btn btn-outline-primary btn-sm">Like</a> 
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {{ video.user.channel.total_subscribers }} - {{ video.user.channel.channel_name }}  
                        {% if user in video.user.channel.subscribed_by.all %}
                            <a href="{% url 'subscribe' video.user.channel.id %}" class="btn btn-warning btn-sm">Unsubscribe</a> 
                        {% else %}
                            <a href="{% url 'subscribe' video.user.channel.id %}" class="btn btn-info btn-sm">Subscribe</a> 
                        {% endif %}
                    </div>                
                    <div class="col-md-4">
                        {% if video in video.user.savevideo.all %}
                            <a href="{% url 'save_video' video.id %}" class="btn btn-primary btn-sm">Unsave</a> 
                        {% else %}
                            <a href="{% url 'save_video' video.id %}" class="btn btn-primary btn-sm">Watch Later</a> 
                        {% endif %}
                    </div>                                       
                <div class="collapse mt-3" id="collapseComment{{ video.id }}">
                    <div class="card card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Add a comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
