{% extends 'videos/base.html' %}
{% load static %}
{% block title %}
    Video
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-8">
                <video width="1130" height="400" controls>
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                </video>
                <h5 class="card-title mt-3">{{ video.title }}</h5>
                <p>Views: {{ video.views }}</p>
                    {% if user in video.likes.all %}
                        {{ video.total_likes }} -Likes <a href="{% url 'like_video' video.id %}" class="btn btn-outline-warning btn-sm">Unlike</a> 
                        {% else %}
                        {{ video.total_likes }} - Likes <a href="{% url 'like_video' video.id %}" class="btn btn-outline-primary btn-sm">Like</a> 
                    {% endif %}
                <p class="card-text"><small class="text-muted">
                   {{ video.created_on|timesince }} ago
                </small></p>
                <p class="card-text">{{ video.description }}</p>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add a Comment</h5>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="container">
                            {% if comments %}
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Comments</h5>
                                    {% for comment in comments %}
                                    <div class="media"> <hr>
                                        <img src="{% static 'images/user1.png' %}" class="rounded-circle" width="50px" height="50px" alt="">
                                        {{ comment.body }}
                                        <div class="media-body ml-2">
                                            <h6 class="mt-0">{{ comment.user.username }}</h6>
                                            <small>
                                                {% if request.user == comment.user %}
                                                <a href="{% url 'edit_comment' comment.id %}" class="btn btn-sm btn-warning">Edit</a>
                                                <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                                                {% endif %}
                                            </small>
                                        </div><br>
                                        <small>{{ comment.created_on|timesince }}</small> ago
                                    </div>
                                    
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                                <p>No comments yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
